{% block title %}HERMEREST: Cuenta creada{% endblock %}

{% block message %}
    Le informamos que se ha creado una cuenta asociada a esta dirección de email. Se ha generado una contraseña provisional
    y le aconsejamos que la modifique cuando entre en el portal.

    <p><b>Contraseña: </b>{{ password }}</p>
    <p>Puede descargase la app utilizando el siguiente enlace: <a href="{{ link }}">HERMEREST</a></p>
{% endblock %}